{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'styles/config.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Arima&display=swap" rel="stylesheet">
</head>
<body style="color: white">


<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">


    <a class="navbar-brand" style="font-family: 'Arima', cursive;">Welcome</a>

    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/" style="font-family: 'Arima', cursive;">Home</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/alien" style="font-family: 'Arima', cursive;">Пришелец</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/gradient" style="font-family: 'Arima', cursive;">Градиент</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/animations" style="font-family: 'Arima', cursive;">Анимации</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/tests" style="font-family: 'Arima', cursive;">Тесты</a>
        </li>
    </div>
  </div>
</nav>


<div class="stroka">


			<div class="example" style="background: linear-gradient(90deg, rgba(0,38,221,1) 9%, rgba(203,11,11,0.927608543417367) 100%);
	background-size: cover;
	background-position: center;">
				<div class="vertical-center-text">
				</div>
			</div>


			<div class="example" style="background: #8e0e00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e0e00, #1f1c18); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e0e00, #1f1c18);">
				<div class="vertical-center-text">
					
				</div>
			</div>
</div>
<div class="stroka">
			<div class="example" style=" background: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc00ff, #00dbde); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc00ff, #00dbde);">
				<div class="vertical-center-text">
					
				</div>
			</div>
			<div class="example" style="background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);">
				<div class="vertical-center-text">
					
				</div>
			</div>
</div>

<div class="stroka">
			<div class="example" style="background: #6441A5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
				<div class="vertical-center-text">
					
				</div>
			</div>

			<div class="example" style="background: #03001e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
				<div class="vertical-center-text">
					
				</div>
			</div>
</div>
<div class="stroka">
			<div class="example" style="background: #F0F2F0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
				<div class="vertical-center-text">
					
				</div>
			</div>
			<div class="example" style="background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
				<div class="vertical-center-text">
					
				</div>
			</div>
</div>




</body>
</html>