{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime</title>
    <link rel="stylesheet" type="text/css" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'styles/config.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima&display=swap" rel="stylesheet">
</head>
<body>

<nav>
        <ul class="MyOwnNav">
           <li> <a href="http://127.0.0.1:8000/" style="font-family: 'Arima', cursive;"> Home </a> </li>
           <li> <a href="#" style="font-family: 'Arima', cursive;"> About Us</a> </li>
           <li> <a href="#" style="font-family: 'Arima', cursive;"> Contacts</a> </li>
           <li> <a href="#" style="font-family: 'Arima', cursive;"> Products</a> </li>
           <li> <a href="#" style="font-family: 'Arima', cursive;"> Services</a> </li>
        </ul>
</nav>

<div class="test">
        <div style="background: url(/static/styles/perg.jpg) no-repeat center; background-size: cover; padding-top: auto; padding-right: 10px; padding-bottom: auto; padding-left: 10px;">
            <p><strong>На современном этапе развития экономики страны, коммерческие банки осуществляют свои операции в условиях непрерывно усиливающейся конкуренции. Одним из важнейших функций в деятельности коммерческих банков является их инвестиционная деятельность, связанная с операциями по ценным бумагам.

        Инвестиционной политикой банка является совокупность мероприятий, которые направлены на разработку и исполнение стратегии по управлению портфелем инвестиций, где целью управления является уравновешенный баланс между прямыми и портфельными инвестициями для обеспечения стабильной деятельности, увеличения прибыльности операций, а также поддержания допустимого уровня рискованности и ликвидности баланса банка [1].

        Банковские инвестиции делят на прямые и портфельные, где прямое инвестирование – это вложение денежных средств в организацию, с целью получения дополнительного дохода путем участия в его уставном капитале, а поpтфельное инвестирование является вложением денежных средств в определенный круг организаций путем покупки ценных бумаг, которые обладают для банка инвестиционной привлекательностью.

        Структура вложений кредитных организаций РФ в ценные бумаги, представленная в таблице 1, показывает постоянный рост вложений кредитных организаций РФ в ценные бумаги. За период с 2013–2015 гг. они выросли с 7822,3 млрд. руб. до 11777,5 млрд. руб., что в абсолютном выражении составило увеличение на  3955,2 млрд. руб. Так, за данный период в структуре вложений кредитных организаций РФ в ценные бумаги доминируют на 01.01.2016  долговые ценные бумаги (81,64 %). Вложения в долевые ценные бумаги за 01.01. 2014 – 01.01. 2016 г.г.  уменьшились на 495,1 млрд. руб., тем самым к 1.01.2016 г. составили 295,3 млрд. руб. Участие в дочерних и зависимых акционерных обществах выросло с 594,9 млрд. руб. до 1662,2 млрд.  руб., или на 279,4 % соответственно. Также наблюдается сокращение вложений банков в векселя, так за 2013 – 2015 г.г. год они уменьшились до 70,1 млрд. руб. В связи с этим удельный вес векселей в портфеле ценных бумаг снизился с 3,5 до 1,7 %.

        Кредитные организации РФ увеличивают объемы инвестиций в долговые обязательства и уменьшают объемы вложений в акции, то есть в долевые ценные бумаги. Это связано с тем, что работа с долговыми ценными бумагами для банков имеет свои достоинства. Например, инвестиции в облигации  обеспечивает доходы, размер и срок получения которых известны  уже инвестору на момент совершения вложения, те есть, доход  является зафиксированным на момент ее приобретения, а значит, банкам не нужно следить за рыночной ценой ценной бумаги.
        </strong></p>
    </div>
</div>


<script>
    var greet = "Hello world!";
    document.write(greet);
</script>

</body>
</html>